# DevMatch Frontend

## Dependencies
node_modules/
.next/
out/

## Environment
.env
.env.local
.env.production

## Debug
npm-debug.log*

## OS
.DS_Store
Thumbs.db

## TypeScript
*.tsbuildinfo
next-env.d.ts
